{% extends 'base.html' %}

{% block title %}Facts{% endblock title %}

{% block background_image %}
{{ url_for('static', filename='img/facts/background.jpg') }}
{% endblock background_image %}

{% block background_styles %}
backdrop-filter: blur(5px) brightness(0.9);
{% endblock background_styles %}

{% block content %}

<div class="dark-bg-content rounded-lg p-4">
    <h2 class="text-center">
        Интересные факты об акулах и не только
    </h2>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Акулы старше деревьев
    </span>
    <p>
        Акулы существовали более 450 миллионов лет, в то время как самое раннее дерево
        появилось
        около 350 миллионов лет назад. Акулы не только старше деревьев, но и являются одним
        из
        немногих животных, переживших четыре из пяти массовых вымираний. Впечатляет!
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Кошачьи акулы светятся в темноте
    </span>
    <p>
        В 2014 году учёные
        обнаружили, что кошачьи акулы при общении друг с другом вырабатывают сияющий свет
        своей
        кожей в узорах, уникальных для каждого вида и даже пола. Невидимые невооруженным
        глазом
        флуоресцентные зелёные пятна видны только тогда, когда на них светит синий фильтр.
    </p>
    <p>
        В 2019 году команда
        исследователей обнаружила, как эти акулы создают свой светящийся эффект: "молекулы
        внутри
        их чешуи трансформируют то, как акульи кожи взаимодействуют со светом, принося
        голубые
        фотоны и посылая зелёный свет".
    </p>
    <center>
        <iframe
            src="https://www.youtube.com/embed/U9BIZAzObNI"
            width="100%"
            height="350"
            frameborder="0"
            allowfullscreen
        ></iframe>
    </center>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        У акул есть свои личности
    </span>
    <p>

        В 2016 году
        исследователи
        Университета Маккуари обнаружили, что у акул Порт-Джексона, как и у нас, есть свои
        индивидуальные личностные качества. Исследование показало, что у каждой акулы свой
        способ
        реагирования на стресс и незнакомое окружение, причем некоторые из них более смелы в
        новой
        обстановке, чем другие.
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Акулы важны для сохранения коралловых рифов
    </span>
    </h3>
    <p>
        Исследования,
        проведённые
        в 2017 году, показали, что акулы играют ключевую роль в регулировании состояния
        здоровья
        коралловых рифов. Во время экспедиции из Кэрнса в Брум группа учёных из Университета
        Западной Австралии обнаружила, что на более здоровых рифах обитает большое
        количество
        акул. Поскольку акулы контролируют хищников среднего размера, это позволяет мелким
        рифовым
        рыбам процветать и заботиться о настоящих кораллах.
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Акулы чувствительны к полнолуниям
    </span>
    <p>
        Учёные обнаружили в
        исследовании 40 серых рифовых акул, что на их поведение при погружении влияет луна,
        температура воды и время суток. Похоже, что акулы спускались на большие глубины
        примерно
        во время полнолуния.
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Съедобное-несъедобное
    </span>
    <p>
        В качестве примера
        мастерской адаптации акул к окружающей среде можно привести их способность
        выворачивать
        желудок наизнанку. Акулы прибегают к этому в том случае, если добыча оказалась
        несъедобной
        или необходимо избавиться от остатков непереваренной пищи. Акула максимально широко
        раскрывает челюсти и «выбрасывает» желудок наружу, выворачивая его при этом
        наизнанку.
        Прополоскав его, хищник снова втягивает желудок обратно.
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Ахиллесова спина
    </span>
    <p>
        Впрочем, есть у этих
        совершенных созданий и слабое место. Акулы оказываются абсолютно беспомощны, если
        перевернуть их на спину, животом кверху. В этой позе акула впадает в тоническую
        неподвижность — некое подобие транса, — и находится в таком состоянии около 15
        минут.
        Предположительно, это поведение связано с дезориентацией в пространстве и
        непривычном
        положении спинного плавника, однако наука до конца еще не изучила этот вопрос.
        Некоторые
        опытные дайверы проворачивают подобный трюк, предварительно проведя сенсорную
        стимуляцию,
        - поглаживание по бокам от носа и глаз. К этой же технике нередко прибегают и самцы
        акул —
        кусают самку за жабры, постепенно вынуждая перевернуться на спину, — поэтому кожа у
        самок
        чаще всего заметно толще и грубее.
    </p>
    <hr class="bg-light">
    <span class="lead font-weight-bold italic">
        Распространённые мифы об акулах:
    </span>
    <p class="mt-2">
        1. Акула всегда
        находится
        в движении, иначе она умирает. На самом деле многие виды способны отдыхать, лёжа на
        дне и
        прокачивая воду через жабры. Причём многие виды предпочитают именно такой способ
        дыхания
        вместо движения.
    </p>
    <p>
        2. Большинство акул
        представляют смертельную угрозу для человека. Всего несколько видов акул регулярно
        совершают неспровоцированные нападения на людей, и в основном это происходит из-за
        ошибки
        в идентификации добычи.
    </p>
    <p>
        3. Акулы плавают с
        большой скоростью. На самом деле крейсерская скорость акул довольно невелика, так
        как им
        необходимо сохранять энергию. Однако это не мешает им развивать высокую, так
        называемую
        «бросковую» скорость непосредственно перед атакой жертвы.
    </p>
    <p>
        4. Акулы обожают
        человеческую кровь. Акулы не отдают предпочтение какой-либо крови. Напротив, откусив
        от
        человека кусок плоти, они обычно выплевывают его обратно, потому что это мясо не
        является
        той жирной пищей, которая необходима им для пополнения запасов энергии.
    </p>
    <p>
        5. Акулы всеядны.
        Большинство видов предпочитает дождаться возможности добыть свою обычную пищу вместо
        того,
        чтобы есть всё подряд.
    </p>
    <p>
        6. Акулы не
        подвержены
        раковым заболеваниям. Это убеждение, существовавшее долгое время, стало причиной
        гибели
        огромного количества акул, вылавливаемых человеком ради «противоракового» хряща.
        Однако
        наблюдение за акулами в неволе, так же как и в естественной среде обитания,
        показали, что
        акулы так же как и люди могут иметь склонность к раковым опухолям. Количество
        случаев
        раковых заболеваний оказалось больше там, где вода больше загрязнена (в том числе и
        в
        результате деятельности человека).
    </p>
    <p>
        7. Акула — очень
        жестокое
        существо. В реальности акулы довольно редко нападают на людей. Кое-какие акулы
        слишком
        маленькие, чтобы съесть человека, а некоторые питаются планктоном.
    </p>
</div>

{% endblock content %}
