{% extends 'base.html' %}

{% block title %}Habitats{% endblock title %}

{% block background_image %}
{{ url_for('static', filename='img/habitats/background.jpg') }}
{% endblock background_image %}

{% block background_styles %}
backdrop-filter: blur(3px) brightness(0.8);
{% endblock background_styles %}

{% block content %}

<div class="dark-bg-content rounded-lg p-4">
    <h3 class="text-danger text-center">Места обитания акул</h3>
    <hr class="bg-secondary">
    <p>
        Акулы живут в водах всего
        мира, в каждом океане, и даже в некоторых реках и озерах. Акулы удивительно хорошо
        приспособилась к своей среде.
    </p>
    <p>
        Эти рыбы ещё миллионы лет
        назад прочно заняли свое место в водном ареале земного шара.
    </p>
    <p>
        Поверхность Земли покрыта
        водой на 72%, причём больше, чем на 2/3 солёной водой. Средняя глубина морей составляет
        примерно 2.800 м.
    </p>
    <p>
        Условно моря можно
        разделить на горизонтальные и вертикальные водные зоны. Исходя от экватора до полюсов
        (например, по температуре воды) можно выделить различные горизонтальные регионы,
        вертикально водную колонну можно разделять на 3 глубокие зоны:
    </p>
    <p>
        - до глубины 100 м лежит
        наполненная светом часть, здесь живёт большая часть акул;
    </p>
    <p>
        - примерно от 100 м до
        глубины примерно 1.000 м лежит сумеречная зона;
    </p>
    <p>
        - глубже 1.000 м
        начинается вечно тёмная зона. Морское дно на глубине характеризуется постоянным "дождём"
        из омертвелых организмов, которые постоянно усиливаются и дополняются.</p>
    <p>
        Можно с полной
        уверенностью сказать, что представителя многочисленного семейства акул можно встретить в
        любой из этих зон в любой точке мирового океана. Кроме того, некоторые виды акул могут
        жить в озерах и устьях рек, например, в Амазонке, Ганге и др.</p>
    <hr class="bg-secondary">

    <h4 class="text-center text-danger">Предпочтения акул в выборе места жительства</h4>
    <hr class="bg-secondary">
    <p>
        Несмотря на то, что акул
        можно встретить в любой точке мирового океана, следует отметить места, где акулы
        предпочитают жить, размножаться и чувствуют себя наиболее комфортно. Обитают акулы в
        прибрежных и открытых водах, некоторые в реках.
    </p>
    <p>
        Из водоемов, омывающих
        берега нашей страны, они встречаются в Баренцевом, Балтийском, Черном, Азовском и
        дальневосточных морях.
    </p>
    <p>
        Если в водах океанов и
        морей насчитывается более 300 видов этой хищницы, то в тёплых водах обитает более 80 %
        из них. Здесь больше кормовая база, меньше энергии требуется для поддержания тела в
        постоянном движении, т.е. большая часть добытой с огромным трудом пищи расходуется на
        "производственные нужды" - рост тела и движение для добычи очередной порции калорий.
    </p>
    <p>
        По той же причине
        наиболее вероятно встретить представителя акульего семейства в прибрежных морских и
        океанических водах - там больше корма, чем в открытом океане и его проще добыть.
    </p>
    <p>
        Еще очень многое остается
        тайной. Почти ничего не известно, например, о формах жизни в полярных морях и в глубинах
        Мирового океана. Есть свидетельства того, что колючая акула (Squalus) проникала в воды,
        омывающие Антарктику. В 1912 году тело двухметровой акулы было найдено на побережье
        острова Маккуори, в 1100 километрах от Полярного круга. Эта акула была представителем до
        этого момента неизвестного ученым вида и получила название полярная акула Уитли
        (Somniosus
        antarcticus Whitley).
    </p>
    <p>
        Все вышеупомянутые случаи
        показывают, что акулы живут и прекрасно себя чувствуют даже в холодных морях.
    </p>
    <p>
        В 1954 году возле Дакара,
        Западная Африка, где находится одно из самых глубоких мест Мирового океана, была спущена
        батисфера на глубину четырех километров. И здесь, в абсолютной темноте, где давление
        воды
        равно 413 км/см2 в луче прожектора мелькнула двухметровая акула с большими выпуклыми
        глазами.
    </p>
    <p>
        Об акулах ничего нельзя
        сказать с полной уверенностью, а особенно утверждать о месте их обитания. Увлеченные
        погоней за косяками рыб либо под влиянием блуждающего течения или неожиданного изменения
        температуры, акулы могут уйти очень далеко от своего дома.
    </p>
    <hr class="bg-secondary">

    <h4 class="text-center text-danger">Озёрные и речные акулы</h4>
    <hr class="bg-secondary">
    <p>
        В настоящее время
        известно множество пресноводных водоёмов, где можно встретить акул. Все эти виды
        принадлежат семейству серых акул.</p>
    <p>
        Наиболее яркий
        представитель этих хищниц - серая бычья акула, которую еще называют тупорылой акулой.
    </p>
    <p>
        В семействе серых акул
        присутствует род Glyphis, в составе которого около шести видов акул, способных жить
        пресной воде. Сюда входят гангская, иравадийская, новогвинейская, борнеосская,
        австралийская копьезубая акула и один вид, не имеющий научного описания (бизантская
        речная
        акула). Это - средней величины хищные рыбы, способные жить и в морской, и в пресной
        воде.
        Все они, в той или иной степени, опасны для человека.
    </p>
    <p>
        Единственный известный
        нам вид исключительно пресноводной акулы - акула озера Никарагуа - полностью
        приспособился
        к новой среде. Эта большая акула (достигает длины до 3-х метров) живёт в озере
        Никарагуа,
        одном из самых больших озер Центральной Америки. Его единственная связь с Карибским
        морем
        - порожистая река Сан-Хуан, протяженностью в 200 километров.
    </p>
    <p>
        Справедливости ради,
        следует отметить, что в реках нередко присутствуют и агрессивные тупорылые акулы. Вполне
        возможно, что львиная доля нападений на людей в этих водах совершена именно этими
        хищницами.
    </p>

    <p>
        На карте синим цветом
        показано обитание всех акул.
    </p>
    <div class="d-flex">
        <img
            src="{{ url_for('static', filename='img/habitats/map.png') }}"
            alt=""
            class="rounded mx-auto my-3"
            width="80%;"
        />
    </div>
</div>

{% endblock content %}
