{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block background_image %}
{{ url_for('static', filename='img/index/background.jpg') }}
{% endblock background_image %}

{% block background_styles %}
backdrop-filter: blur(3px) brightness(0.8);
{% endblock background_styles %}

{% block content %}

<div class="jumbotron text-dark rounded-lg p-4 m-0">
    <div class="container">
        <h1 class="text-center display-4">Всё об акулах</h1>
        <h5 class="text-center mt-3">Хочешь узнать больше?</h5>
        <hr class="my-4">
        <p class="lead">
            Читая энциклопедию акул,
            вы отправитесь в настоящее путешествие по подводному миру!<br><br>
            На нашем сайте вы найдёте множество информации о самых прекрасных существах
            подводного
            царства. Формат статей прост и лаконичен, что позволяет даже самым юным
            читателям без
            труда узнавать что-то новое. Большое количество профессиональных,
            высококачественных
            фотографий сделает даже обычный просмотр без чтения приятным и
            впечатляющим.<br><br>
            Помимо информативных статей вы также сможете более подробно узнать о самых
            больших
            океанариумах,
            прочитать интересные факты об акулах, увидеть ареал их распространения,
            статистику
            нападения на людей и многое другое. Заинтригованы? Тогда вперёд за
            приключениями!<br><br>
            Мы желаем вам приятного просмотра и чтения!</br>
        </p>
    </div>
</div>

{% endblock content %}
