{% extends 'base.html' %}

{% block title %}Nutrition{% endblock title %}

{% block background_image %}
{{ url_for('static', filename='img/nutrition/background.jpg') }}
{% endblock background_image %}

{% block background_styles %}
backdrop-filter: blur(3px);
{% endblock background_styles %}

{% block content %}

<div class="card text-dark">
    <div class="card-body">
        <h3 class="card-title text-center">Питание акул</h3>
        <hr>
        <p class="card-text">
            Все акулы относятся к животным-хищникам,
            и их пищей являются живые существа, начиная от планктонных организмов,
            и заканчивая крупными морскими животными.
            Рацион акул разных видов заметно отличается, как и способы охоты за добычей. Однако,
            можно
            с уверенностью сказать, что охота любой акулы уникальна, благодаря органам чувств и
            уникальному характеру каждой особи. Акула способна раздобыть себе корм в любых
            условиях,
            даже в кромешной тьме. Такие уникальные способности предоставляют акулам пьедестал
            почёта
            среди других морских существ.
            Большинство видов акул (исключая только планктоноядных - китовую, гигантскую,
            большеротую)
            ведут относительно оседлый образ жизни, т.е. придерживаются определенного района
            обитания.
            Более того - многие из акул придерживаются принципа территориального владения
            определенными участками и охотничьими угодьями, обитая в своих владениях до тех пор,
            пока
            они обеспечивают её пропитанием. Акулы свободно передвигаются по всей прилегающей
            территории.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-info">
            Благодаря относительной
            всеядности, акулы могут легко переключаться с одного, предпочитаемого в данный
            момент вида
            пищи на другой. Именно это свойство акул позволило им выдержать многовековую
            конкуренцию
            среди других хищников, о существовании которых мы сейчас знаем только по
            ископаемым
            останкам.
        </li>
        <li class="list-group-item">
            Планктоноядные акулы
            (китовая, гигантская, большеротая) медленно плавают с широко раскрытой пастью и,
            процеживая фильтрующими органами воду, извлекают из неё свою пищу - бентос и мелкие
            организмы. Техника охоты этих акул примитивна и очень схожа с техникой добычи пищи
            усатыми
            китами. Их тактика во время охоты ориентирована лишь на то, в каких слоях воды в
            данное
            время находится планктон, который совершает суточные и сезонные глубинные миграции.
        </li>
        <li class="list-group-item list-group-item-info">
            <strong>Истинные (или классические) хищницы</strong>
            - акулы, предметом охоты которых являются более крупные морские
            животные, добывают пищу более активно. Некоторые из них предпочитают крупную
            животную
            пищу, включая морских ластоногих млекопитающих. Некоторые ориентируются в выборе
            пищи на
            рыб и более мелких морских животных, включая донных ракообразных, черепах, моллюсков
            и даже птиц. В зависимости от вида пищи и строится тактика охоты акулы.
        </li>
        <li class="list-group-item">
            Предпочитающие проживание
            на определенных участках акулы, особенно это касается рифовых зон, зачастую охотятся
            из засады, укрывшись от потенциальной жертвы и поджидая неосторожную добычу. При
            этом,
            если акуле не удается захватить добычу с первого броска, она редко ее преследует,
            предоставляя
            такую возможность другим акулам, плавающим поблизости. Сама же хозяйка территории
            возвращается к месту "засады".
        </li>
        <li class="list-group-item">
            Акулы, которые проживают
            в пелагии, обычно следуют за стайными рыбами, устраивая на них, чаще всего,
            коллективную
            охоту. В действиях таких акул прослеживается следующая тактика: косяк рыб сгоняется
            во все
            более плотный шар, который и служит объектом нападения хищниц.
            Заслуживает отдельного внимания интересный факт: огромные стаи рыб подвергаются
            совместной
            охоте со стороны самых разных морских обитателей. Часто в такой совместной "рыбалке"
            принимают участие и птицы (олуши), и китообразные (дельфины, киты, ластоногие), и
            самые
            разные акулы (сельдевые, песчаные, белые, синие и многие другие).
        </li>
        <li class="list-group-item list-group-item-info">
            <strong>Основной пищей пелагических акул </strong>
            является стайная морская рыба, на
            которую они охотятся, применяя весьма оригинальные методы. Питание этих акул, как ни
            странно, тоже связано с глубинными миграциями планктона, - ведь за ним следуют и
            косяки
            рыб, являющихся пищей для акул. Любят пелагические акулы следовать и за морскими
            судами,
            подбирая выброшенные за борт пищевые отходы.
        </li>
        <li class="list-group-item">
            <div class="row no-gutters align-items-center">
                <img
                    src="{{ url_for('static', filename='img/nutrition/1-shark.jpg') }}"
                    class="col-6 rounded"
                    alt=""
                />
                <span class="col-6 pl-4">
                    Лисья акула охотится на
                    рыбу с помощью собственного хвоста. Загнанную в более плотный косяк рыбу
                    лисья акула
                    глушит ударами мощного хвостового плавника, который обычно достигает длины
                    тела акулы.
                </span>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row no-gutters align-items-center">
                <span class="col-6 pr-4">
                    Интересный метод охоты у
                    короткоперой серой акулы - она веретеном вращается в плотном косяке рыб
                    и глушит добычу своими плавниками и телом.
                </span>
                <img
                    src="{{ url_for('static', filename='img/nutrition/2-shark.jpg') }}"
                    class="col-6 rounded"
                    alt=""
                />
            </div>
        </li>
        <li class="list-group-item">
            <strong>Более крупные и хищные из акул</strong>
            - большая белая, тигровая, мако, имеют свои специфические пристрастия к пище и их
            тактика охоты и строение тела привязаны к этим пристрастиям. Большая белая акула
            обожает
            охотиться за морскими котиками, львами, имеющими нежное и жирное мясо. Мощи взрослой
            белой
            акулы достаточно, чтобы убить крупное животное одним броском. Обычно акулы
            подкарауливают
            более слабых и отбившихся от стаи животных и нападают на них снизу. При этом белая
            акула
            часто выпрыгивает вместе с жертвой из воды. Впрочем, большая белая, являясь самой
            грозной
            и крупной из активных хищников-акул, может позволить себе достаточно разнообразный
            рацион.
        </li>
        <li class="list-group-item list-group-item-info">
            <div class="row no-gutters align-items-center">
                <img
                    src="{{ url_for('static', filename='img/nutrition/3-shark.jpg') }}"
                    class="col-6 rounded"
                    alt=""
                />
                <span class="col-6 pl-4">
                    <strong>Акула-мако</strong> - лидер по
                    скорости среди акул. Её тело приспособлено к стремительному передвижению под
                    водой. Она может даже напасть на такого подводного "шумахера", как рыба-меч,
                    конкурируя с ней в
                    скорости передвижения. Во время стремительной охоты мако может совершать
                    прыжки над
                    поверхностью воды до нескольких метров. Различные морские рыбы тоже входят в
                    рацион
                    мако.
                </span>
            </div>
        </li>
        <li class="list-group-item">
            Особняком в способах
            добычи пищи стоят и такие активные хищницы, как тигровые акулы. По мощи они не
            сильно
            уступают большим белым, однако их рацион гораздо шире. В желудках тигровых находили
            мыслимые и немыслимые для питания предметы - даже номера автомобилей! Тем не менее,
            тигровая акула заслуженно снискала прозвище "морского мусорщика" за то, что может
            заглотать всё, что угодно. А то, что не переваривает ее мощный желудок, акула
            отрыгивает
            или даже выворачивает желудок наизнанку, чтобы прополоскать его.
        </li>
        <li class="list-group-item">
            Мако также не
            пренебрегает и падалью. Мощные зубы этих акул легко ломают крепкий панцирь черепах и
            раковины моллюсков, чтобы добраться до нежного тела.
        </li>
        <li class="list-group-item">
            Вообще пищевые
            предпочтения разных видов акул можно определить и по форме их зубов - треугольные,
            зазубренные или скребкообразные (белая, бычья, тигровая) предназначены для вырывания
            кусков плоти у жертвы или прокусывания твердых панцирей морских животных.
            Для прокусывания твердой защиты жертвы приспособлены и зубы многих донных акул
            (скватиновой, нянек и некоторых других), в чей рацион часто входят ракообразные,
            моллюски.
            Акулы, питающиеся, в основном, стайной морской рыбой (голубая, мако,
            длинноплавниковая),
            имеют длинные клыкообразные зубы, загнутые внутрь пасти, что позволяет удерживать
            скользкую добычу.
        </li>
        <li class="list-group-item">
            <div class="row no-gutters align-items-center">
                <span class="col-6 pr-4">
                    У всех видов акул <strong>зубы исключительно острые</strong>
                    - ведь это их главное оружие, от которого зависит
                    удачливость охоты.
                </span>
                <img
                    src="{{ url_for('static', filename='img/nutrition/4-teeth.jpg') }}"
                    class="col-6 rounded"
                    alt=""
                />
            </div>
        </li>
        <li class="list-group-item">
            Акулы - чрезвычайно
            приспособленные для существования в своей среде животные. Думается, ещё много
            полезных и
            интересных секретов их поведения человеку предстоит открыть и, возможно, с пользой
            для себя применить...
        </li>
    </ul>
</div>

{% endblock content %}
