{% extends 'base.html' %}

{% block title %}Protection methods{% endblock title %}

{% block background_image %}
{{ url_for('static', filename='img/2.jpg') }}
{% endblock background_image %}

{% block content %}

<div class="card text-dark">
    <div class="card-body">
        <h2 class="card-title">Что делать при нападении акулы?</h2>
        <hr>
        <span class="h5">Как избежать нападения?</span>
        <p class="mt-2">
            1. Держитесь подальше от
            устьев рек после сильных дождей, когда пресноводных рыб и других речных животных
            потоками
            воды уносит в океан.
        </p>
        <p>
            2. Не купайтесь в местах,
            где сбрасываются отходы жизнедеятельности - сточные воды привлекают мелкую рыбу,
            которая, в
            свою очередь, привлекает акул.
        </p>
        <p>
            3. Будьте внимательны,
            находясь в мутных водах вблизи входов в гавани и каналы, акулы часто плавают там.
        </p>
        <p>
            4. Не плавайте вблизи
            рыбацких лодок и судов. За ними часто тянется след из остатков рыбы и крови, которые
            могут
            привлечь акул.
        </p>
        <p>
            5. Не носите яркую
            плавательную одежду (особенно оранжевый и жёлтый) или драгоценности, которые будут
            блестеть
            в воде. Акула может принять за чешую рыбы. Акулы очень хорошо различают контрасты.
        </p>
    </div>
</div>

<div class="card text-dark mt-3">
    <div
        style="
            background-image: url({{ url_for('static', filename='img/protection-methods/1.jpg') }});
            background-position: center;
            background-size: cover;
            height: 350px;
        "
        class="card-img-top"
    ></div>
    <div class="card-body">
        <span class="h5">Как избежать нападения?</span>
        <p class="mt-2">
            Если нападение неизбежно,
            защищайте себя любым возможным орудием. Старайтесь, по возможности, не использовать
            голые
            руки и ноги. Удары направляйте в морду акулы, лучше всего бить по глазам и жабрам -
            самые
            уязвимые области.
        </p>
        <p>
            Если вы оказались в пасти
            акулы, боритесь, насколько хватает сил - "игра в мертвого" не работает.
            Сопротивляйтесь
            любыми возможными способами, старайтесь попасть ей в глаза или жабры.
        </p>
        <p>
            Если вас укусила акула,
            попробуйте остановить кровотечение. Как можно быстрее выйдите из воды. Большинство
            акул не
            нападает повторно, но вы не можете знать этого наверняка. Немедленно обратитесь за
            медицинской помощью, даже если повреждение кажется незначительным.
        </p>

    </div>
</div>

<div class="card text-dark mt-3">
    <div
        style="
            background-image: url({{ url_for('static', filename='img/protection-methods/2.jpg') }});
            background-size: cover;
            height: 350px;
        "
        class="card-img-top"
    ></div>
    <div class="card-body">
        <span class="h5">Как помочь жертве?</span>
        <p class="mt-2">
            1. Как можно быстрее
            вытащите человека на берег.
        </p>
        <p>
            2. Ещё находясь в воде,
            попробуйте остановить кровотечение, перетянув рану майкой или частью плавательного
            костюма.
        </p>
        <p>
            3. Заверните пострадавшего
            в полотенце или одеяло, чтобы минимизировать потерю тепла.
        </p>
        <p>
            4. Как только пострадавший
            оказался на берегу, постарайтесь не двигать его без крайней необходимости.
        </p>
        <p>
            5. Немедленно доставьте
            пострадавшего в ближайшую больницу или дождитесь приезда скорой помощи.
        </p>
    </div>
</div>

{% endblock content %}
