<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">
    <a
        class="navbar-brand"
        href="/"
    >
        Sharks
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarContent"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div
        class="collapse navbar-collapse"
        id="navbarContent"
    >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/"
                >
                    Главная
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/sharks-types"
                >
                    Виды акул
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/nutrition"
                >
                    Питание
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/habitats"
                >
                    Места обитания акул
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="/statistic"
                >
                    Статистика нападений
                </a>
            </li>

            <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    role="button"
                    href=""
                    data-toggle="dropdown"
                >
                    Вам понравится
                </a>
                <div
                    class="dropdown-menu"
                    aria-labelledby="navbarDropdown"
                >
                    <a
                        class="dropdown-item"
                        href="/oceanariums"
                    >
                        Самые большие океанариумы в мире
                    </a>
                    <a
                        class="dropdown-item"
                        href="/facts"
                    >Самые интересные факты
                    </a>
                    <a
                        class="dropdown-item"
                        href="/cage-diving"
                    >
                        Лучшие места для кейдж-дайвинга
                    </a>
                    <a
                        class="dropdown-item"
                        href="/protection-methods"
                    >
                        Что делать при нападении
                    </a>
                </div>
            </li>
        </ul>

    </div>
</nav>
